<!DOCTYPE html>
<html>
<head>
    <title>Stopwatch App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body class="home">

    <div class="container">
        <img src="https://i.pinimg.com/originals/b4/3f/46/b43f460000771f1ec66b2934a8c081c2.jpg" height="300">
        <h1>Welcome to Gabes Climbing WEBSITE!</h1>
       <button class="custom-btn" onclick="location.href='/stopwatch'">Hangboard</button>
        <button class="custom-btn" onclick="location.href='/game'">Climbing Grades</button>

    </div>
</body>
</html>
